.message {
    font-size: 2em;
    font-family: sans-serif;
    padding: 5px 10px;
    border: 3px solid;
    border-radius: 23px;
    margin-bottom: 10px;
}

.success {
    color: #48c268;
    border-color: palegreen;
}

.error {
    color: palevioletred;
    border-color: palevioletred;
}
